/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-clara: #fff0f6;  
    --cor-intermediaria: #EDAFB8; 
    --cor-de-destaque: #960f65; 
    --cor-botoes: #3883ac;   
    --fonte-destaque: "Rubik Mono One";
    --fonte-texto: "League Spartan";
}

body {
    font-family: var(--fonte-texto);
    font-weight: 400;
    line-height: 1.6;
    color: var(--cor-de-destaque);
    background-color: var(--cor-clara);
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: var(--cor-intermediaria);
    color: var(--cor-de-destaque);
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
}

header a {
    color: var(--cor-de-destaque);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 7px 15px;
    border-radius: 0.3em;
}

header a:hover{
    background: var(--cor-de-destaque);
    color: var(--cor-clara);
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
	font-family: var(--fonte-destaque);
    float: left;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 24px;
}

header h1 img {
    margin-left: 100px;
    height: 70px; /* Ajuste a altura da imagem conforme necessário */
    width: auto;  /* Mantém a proporção da imagem */
}

header nav {
    float: right;
    margin-top: 20px;
}

main {
    padding-top: 80px;
}

/* Growth Section */
.growth {
    padding: 0px;
}

.growth-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;
}

.growth-section .text, .growth-section .image {
    flex: 1;
}

.growth-section .text {
    max-width: 60%;
    padding-right: 20px;
    padding-left: 40px;
}

.growth-section .image {
    max-width: 40%;
    text-align: center;

}

.growth-section .image img {
    width:50%;
    height: auto;
}

.growth-section .text h2, .growth-section .text h3 {
    font-family: var(--fonte-destaque);
    color: var(--cor-de-destaque);
}

.growth-section .text p, .growth-section .text ul {
    font-size: 1.2em;
    color: var(--cor-de-destaque);
}

.growth-section .text ul {
    list-style: disc;
    margin-left: 20px;
}

.growth-section .text ul li {
    margin-bottom: 10px;
}


.growth-section.invertido {
    padding-top: 0;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .growth-section .text, .growth-section .image {
        flex: auto; 
        padding: 20px 0;
        text-align: center;
    }

    .growth-section .text {
        max-width: 100%;
    }

    .growth-section .image {
        max-width: 100%;
    }
}

footer {
    background: var(--cor-de-destaque);
    color: var(--cor-clara);
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
