/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu Mono";
    line-height: 1.6;
    color: #4A4A4A;
    background-color: #f5f5f5;
}

/* Container */
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #4A90E2;
    color: white;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 0px;
    border-bottom: #9013FE 4px solid;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    font-family: "Rubik Mono One";
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

header h1 img {
    margin-left: 100px;
    height: 70px; /* Ajuste a altura da imagem conforme necessário */
    width: auto;  /* Mantém a proporção da imagem */
}

header nav {
    float: right;
    margin-top: 10px;
}

/* Fix for body content */
main {
    padding-top: 100px;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.carousel {
    height: 100%;
}

.carousel-slide {
    position: relative;
    text-align: left; /* Alinhamento do texto à esquerda */
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* Ajuste conforme necessário */
    height: 100%;
    background: rgba(255, 111, 97, 0.5); /* Fundo vermelho transparente */
    color: white;
    padding: 20px;
    border-radius: 5px 0 0 5px; /* Ajusta os cantos arredondados */
}

.carousel-overlay h2 {
    font-size: 2em;
    margin-top: 10px;
}

.carousel-overlay p {
    font-size: 1.2em;
    margin-top: 10px;
}

.carousel-overlay a {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background: #FF6F61;
    border-radius: 5px;
}

.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.custom-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #9013FE;
    border-radius: 50%;
    display: inline-block;
    transition: transform 0.3s ease;
}

.dot.active {
    transform: scale(1.5); /* Aumenta o tamanho do ponto quando ativo */
}

.btn-primary {
    background: #FF6F61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    font-size: 1.1em;
}

/* Features Section */
.features {
    padding: 40px 0;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom: #FF6F61 4px solid;
}

.features h2 {
    font-size: 2em;
    font-family: "Rubik Mono One";
    margin-bottom: 20px;
    color: #4A90E2;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background: #74279E;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-bottom: 10px;
    color: white;
}

.card p {
    font-size: 1em;
    color: white;
}

.btn-secondary {
    background: #9013FE;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

/* Footer */
footer {
    background: #4A4A4A;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

